.demo {
    height: 20px;
    margin: 20px 20px;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    color: salmon;
   
  }
  /* for assignment 1 */
  .box {
    width: 50px;
    height: 50px;
    float: left;
    margin: 0px 5px 0px 5px;
    padding: 10px;
    overflow: hidden;
  }
  
  /* for assignment 2 */
  .div1 {
    font-family: "Poppins", sans-serif;
    color: red;
    font-style: normal;
    font-size: 48px;
    word-break: break-all;
    background: fixed;
    background-color: rgb(134, 126, 7);
    height: 500px;
    width: 500px;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 10px;
    line-height: 1.5;
    overflow: hidden;
  }
  .div1:first-letter {
    text-transform: capitalize;
  }
  
  /* for assignment 3 */
  .demo4 {
    white-space: nowrap;
    width: 400px;
    border: 1px solid #000000;
    overflow: hidden;
    text-overflow: ellipsis;
   
  }
  .bonus {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 5;
    height: 75px;
  }
  /* for asignment 4 */
  .div2 {
    background-color: black;
    width: 100px;
    height: 100px;
    /* text-shadow: h-shadow v-shadow blur-radius color */
    overflow: hidden;
    box-shadow: 10px 10px 5px midnightblue;
    transition: all 0.3s;
   cursor: copy;
  }
  
  .div2:hover {
    background-color: aqua;
  }
  .div2:active {
    background-color: green;
  
  }
  
  /* for assignment 5 */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }
  